img {
    position: absolute;
    width: 30%; 
    height: auto;
    transition: transform 0.5s; /* 트랜지션 효과 추가 */
}
.background {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    
}
.clover {
    top: 10%;
    left: 10%;
    animation: move-clover 5s linear infinite; /* move-clover 애니메이션 적용 */
}

@keyframes move-clover {
    0% { top: 10%; left: 5%; }
    25% { top: 30%; left: 5%; }
    50% { top: 50%; left: 5%; }
    75% { top: 30%; left: 5%; }
    100% { top: 10%; left: 5%; }
}


