body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    position: relative; /* 이미지를 페이지의 기준 위치를 기준으로 배치 */
    width: 100%;
    height: 100vh;
    overflow: hidden; /* 넘치는 컨텐츠를 숨기기 */
}

.main-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.button-image {
    position: absolute;
    top: 38%;
    left: 50%;
    width: 20%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: transform 0.5s;
}

.candy1image {
    position: absolute;
    top: 0.1%;
    left: 0.001%;
    width: 35%;
    transform-origin: center center;
    cursor: pointer;
    animation: rotate1 5s linear infinite; /* 민트 사탕 이미지에 회전 애니메이션 적용 */
}

.candy2image {
    position: absolute;
    top: 0.1%;
    left: 66%;
    width: 50%;
    transform-origin: center center;
    cursor: pointer;
    animation: rotate2 7s linear infinite; /* 핑크 사탕 이미지에 회전 애니메이션 적용 */
}

@keyframes rotate1 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes rotate2 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.button-image:hover {
    transform: translate(-50%, -50%) scale(1.2); /* 버튼을 1.2배 확대하면서 중앙에 유지 */
}
    