img {
    position: absolute;
    width: 30%; 
    height: auto;
    transition: transform 0.5s; /* 트랜지션 효과 추가 */
}

.tree {
    top: 10%;
    left: 10%;
    animation: move-tree 5s linear infinite; /* move-clover 애니메이션 적용 */
}

@keyframes move-tree {
    0% { top: 10%; left: 5%; }
    25% { top: 30%; left: 5%; }
    50% { top: 50%; left: 5%; }
    75% { top: 30%; left: 5%; }
    100% { top: 10%; left: 5%; }
}
